<%= form_with(model: dashboard_post) do |form| %>
  <% if dashboard_post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dashboard_post.errors.count, "error") %> prohibited this dashboard_post from being saved:</h2>

      <ul>
        <% dashboard_post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :visibility, style: "display: block" %>
    <%= form.select :visibility, options_for_select(Dashboard::Post.visibilities.map {|s| [s.first, s.first]} ), { include_blank:  "-" } %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label :post_id, style: "display: block" %>
    <%= form.text_field :dashboard_post_id %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
