<p style="color: green"><%= notice %></p>

<%= render @dashboard_post %>

<div>
  <%= link_to "Edit this post", edit_dashboard_post_path(@dashboard_post) %> |
  <%= link_to "Back to posts", dashboard_posts_path %>

  <%= button_to "Destroy this post", @dashboard_post, method: :delete %>
</div>
